@model MVCAndAjax.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnCriarUsuario" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

<div id="msgaousuario"></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    $(document).ready(function () {
        $("#msgaousuario").hide();
    });

    $("#btnCriarUsuario").click(function () {
        var url = "@Url.Action("CriarUsuario", "Usuario")";
        var login = $("#Login").val();
        var senha = $("#Senha").val();
        var dataCadastro = $("#DataCadastro").val();
        var data = {login:login, senha:senha, DataCadastro:dataCadastro };

        $.post(url, JSON.stringify(data)).done(function (data) {
            if (data != null && data != undefined) {
                if (data.status != null && data.status != undefined) {
                    console.log(data.status);
                    console.log(data.mensagem);

                    if (data.status)
                    {
                        $("#msgaousuario").removeClass("alert alert-danger").addClass("alert alert-succes");
                        $("#msgaousuario").text("");
                        $("#msgaousuario").append("<strong> Mensagem: </strong>" + data.mensagem)
                        $("#msgaousuario").show();
                        $("#btnCriarUsuario").prop("disabled" , true);
                        setTimeout(function () {
                            $("#msgaousuario").hide();
                            $("#btnCriarUsuario").prop("disabled" , false);
                        }, 3000);
                    }
                    else
                    {
                        $("#msgaousuario").removeClass("alert alert-success").addClass("alert alert-danger");
                        $("#msgaousuario").text("");
                        $("#msgaousuario").append("<strong> Mensagem: </strong>" + data.mensagem)
                        $("#msgaousuario").show();
                        $("#btnCriarUsuario").prop("disabled", true);
                        setTimeout(function () {
                            $("#msgaousuario").hide();
                            $("#btnCriarUsuario").prop("disabled" , false);
                        }, 3000);
                    }

                    
                }
            }
            console.log("Processamento Realizado")
        }).fail(function(){
            console.log("Erro no Processamento");
            

        }).always(function(){
            console.log("Felicidade....");   
        });
    });
    

</script>